@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0px;
  padding: 0px;

}

/* Hero-section */

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  /* padding: 100px 0px 0px 100px; */
  margin-left: 20px;
}

.content-logo {
  display: flex;
  gap: 5px;
}

.content-logo img {
  width: 50px;
}

.content-logo p {
  font-size: 20px;
  color: aquamarine;
  font-family: "Open Sans", sans-serif;

}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content h1 {
  font-size: 80px;
  color: #064e3b;
  font-family: "Open Sans", sans-serif;

}

.content h1 span {
  color: aquamarine;
  font-family: "Open Sans", sans-serif;

}

.content-buttons {
  display: flex;
  gap: 30px;
}

.content-buttons button {
  width: 210px;
  height: 60px;
  font-size: 20px;
  border: none;
  background-color: rgb(83, 185, 151);
  color: white;
}

.content-buttons h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 55px;
  margin-top: 10px;
  border: solid rgb(83, 185, 151) 2px;
  color: aquamarine;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;

}

.img1 img {
  width: 500px;
  /* padding: 30px 0px 30px 0px; */
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-content {
  display: flex;
  justify-content: center;
  width: 310px;
  height: 90px;
  position: absolute;
  bottom: 80px;
  right: 230px;
  gap: 20px;
  background-color: white;
}

.timer-content h3 {
  font-size: 10px;
  padding: 5px 0px 0px 0px;
  color: rgb(61, 218, 61);
}

.timer-content h4 {
  font-size: 10px;
  color: aquamarine;
  /* padding-top: 10px; */
  /* padding: 10px 0px 0px 0px; */
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 80px;
  position: absolute;
  bottom: 70px;
  right: 250px;
  background-color: aquamarine;
}

.clock {
  justify-content: center;
  align-items: center;
  font-size: 62px;
  position: relative;
  color: white;
}

.clock span {
  position: relative;
  color: white;
}

.clock span::after {
  font-size: 14px;
  transform: translatex(-50%);
  position: absolute;
  bottom: -5px;
  left: 25px;
}

#hrs::after {
  content: "hours";
}

#min::after {
  content: "minutes";
}

#sec::after {
  content: "seconds";
}

@media (max-width: 1248px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .timer-content {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 90px;
    position: absolute;
    bottom: -460px;
    right: 480px;
    gap: 20px;
    background-color: white;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 80px;
    position: absolute;
    bottom: -480px;
    right: 490px;
    background-color: aquamarine;
  }

  .content h1 {
    font-size: 60px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 90px;
    /* padding: 100px 0px 0px 100px; */
  }
}

@media (max-width: 910px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .timer-content {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 90px;
    position: absolute;
    bottom: -460px;
    right: 390px;
    gap: 20px;
    background-color: white;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 80px;
    position: absolute;
    bottom: -480px;
    right: 410px;
    background-color: aquamarine;
  }

  .timer-content h3 {
    font-size: 12px;
    padding: 5px 0px 0px 0px;
    color: rgb(61, 218, 61);
  }

  .timer-content h4 {
    font-size: 12px;
    color: aquamarine;
    padding: 8px 0px 0px 0px;
  }
}

@media (max-width: 780px) {
  .container {
    flex-direction: column;
    justify-content: center;
    /* gap: 100px; */
    align-items: center;
  }

  .timer-content {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 90px;
    position: absolute;
    bottom: -460px;
    right: 320px;
    gap: 20px;
    background-color: white;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 80px;
    position: absolute;
    bottom: -480px;
    right: 350px;
    background-color: aquamarine;
  }

  .timer-content h3 {
    font-size: 12px;
    padding: 5px 0px 0px 0px;
    color: rgb(61, 218, 61);
  }

  .timer-content h4 {
    font-size: 12px;
    color: aquamarine;
    padding: 8px 0px 0px 0px;
  }

  .clock span::after {
    font-size: 8px;
    transform: translatex(-50%);
    position: absolute;
    bottom: -5px;
    left: 25px;
  }
}

@media (max-width: 680px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* padding: 100px 0px 0px 100px; */
  }

  .timer-content {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 56px;
    position: absolute;
    bottom: -150px;
    right: 200px;
    gap: 20px;
    background-color: white;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 60px;
    position: absolute;
    bottom: -170px;
    right: 210px;
    background-color: aquamarine;
  }

  .timer-content h3 {
    font-size: 10px;
    padding: 5px 0px 0px 0px;
    color: rgb(61, 218, 61);
  }

  .timer-content h4 {
    font-size: 6px;
    color: aquamarine;
    padding: 8px 0px 0px 0px;
  }

  .clock {
    justify-content: center;
    align-items: center;
    font-size: 47px;
    position: relative;
    color: white;
  }

  .img1 img {
    width: 400px;
  }

  .content h1 {
    font-size: 50px;
  }

  .img1 img {
    width: 400px;
    height: 350px;
    border-radius: 3px;
    /* padding: 30px 0px 30px 0px; */
  }
}

@media (max-width: 620px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .timer-content {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 56px;
    position: absolute;
    bottom: -90px;
    right: 190px;
    gap: 20px;
    background-color: white;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 60px;
    position: absolute;
    bottom: -110px;
    right: 200px;
    background-color: aquamarine;
  }

  .timer-content h3 {
    font-size: 5px;
    padding: 5px 0px 0px 0px;
    color: rgb(61, 218, 61);
  }

  .timer-content h4 {
    font-size: 8px;
    color: aquamarine;
    padding: 5px 0px 0px 0px;
  }

  .clock {
    justify-content: center;
    align-items: center;
    font-size: 47px;
    position: relative;
    color: white;
  }

  .content h1 {
    font-size: 40px;
  }

  .content-buttons button {
    width: 160px;
    height: 50px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    background-color: rgb(83, 185, 151);
    color: white;
  }

  .content-buttons h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 50px;
    border: solid rgb(83, 185, 151) 1px;
    color: aquamarine;
    border-radius: 5px;
  }
}

@media (max-width: 520px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .timer-content {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 56px;
    position: absolute;
    bottom: -100px;
    right: 120px;
    gap: 20px;
    background-color: white;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 60px;
    position: absolute;
    bottom: -120px;
    right: 130px;
    background-color: aquamarine;
  }

  .timer-content h3 {
    font-size: 5px;
    padding: 5px 0px 0px 0px;
    color: rgb(61, 218, 61);
  }

  .timer-content h4 {
    font-size: 8px;
    color: aquamarine;
    padding: 5px 0px 0px 0px;
  }

  .clock {
    justify-content: center;
    align-items: center;
    font-size: 47px;
    position: relative;
    color: white;
  }

  .content h1 {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .timer-content {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 56px;
    position: absolute;
    bottom: 70px;
    right: 50px;
    gap: 20px;
    background-color: white;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 100px 0px 0px 100px; */
  }

  .content-logo {
    display: flex;
    gap: 5px;
  }

  .content-logo img {
    width: 35px;
  }

  .content-logo p {
    font-size: 14px;
    color: aquamarine;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 60px;
    position: absolute;
    bottom: 50px;
    right: 70px;
    background-color: aquamarine;
  }

  .timer-content h3 {
    font-size: 5px;
    padding: 5px 0px 0px 0px;
    color: rgb(61, 218, 61);
  }

  .timer-content h4 {
    font-size: 8px;
    color: aquamarine;
    padding: 5px 0px 0px 0px;
  }

  .clock {
    justify-content: center;
    align-items: center;
    font-size: 47px;
    position: relative;
    color: white;
  }

  .content h1 {
    font-size: 45px;
  }

  .img1 img {
    width: 380px;
  }
}

@media (max-width: 390px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .timer-content {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 56px;
    position: absolute;
    bottom: -60px;
    right: 40px;
    gap: 20px;
    background-color: white;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 60px;
    position: absolute;
    bottom: -80px;
    right: 50px;
    background-color: aquamarine;
  }

  .timer-content h3 {
    font-size: 5px;
    padding: 5px 0px 0px 0px;
    color: rgb(61, 218, 61);
  }

  .timer-content h4 {
    font-size: 8px;
    color: aquamarine;
    padding: 5px 0px 0px 0px;
  }

  .clock {
    justify-content: center;
    align-items: center;
    font-size: 47px;
    position: relative;
    color: white;
  }

  .content h1 {
    font-size: 40px;
  }

  .img1 img {
    width: 380px;
  }
}

/* section-2 */

.hero-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 30px; */
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 17px 0px;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: #059669;
  border-radius: 3px;
  /* width: 100%; */
  padding: 25px 0px;
}

.card img {
  width: 100%;
  border-radius: 3px;
}

.card h1 {
  color: white;
  padding: 0px 0px 30px 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;


}

.line {
  width: 370px;
  border: 2px;
  border: 1px dashed #ecfdf5;

  /* border: 2px solid #ECFDF5 */
}

.para1 {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 20px 10px;
  font-family: "Open Sans", sans-serif;

}

h5 {
  width: 105px;
  height: 20px;
  background-color: #047857;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;

}

h6 {
  font-size: 15px;
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;

}

.package p {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 19px;
  margin: 5px 14px;
  padding: 20px 0px 0px 0px;
  font-family: "Open Sans", sans-serif;

}

.card2 {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

.card1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #047857;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-top: 10px;
  border-radius: 3px;
  margin-bottom: 40px;

}


/* grid */

.just-content {
  /* position: relative; */
  padding-top: 30px;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #94bbe9;
  width: 100%;
  height: 600px;

}

.grid-item {
  display: grid;
  grid-template-columns: 400px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 10px;
  padding: 210px 0px 0px 0px;

}

figure .item1 {
  width: 400px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;

}

figure .item2 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;

}

figure .item4 {
  width: 400px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;

}

figure .item5 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;

}


figure .item-9 {
  /* width: 400px; */
  height: 410px;
  overflow: hidden;
  border-radius: 3px;


}

.figure img {
  /* transform: scale(1 ); */
  transition: .3s ease-in-out;
}

.grid-item figure:hover img {
  transform: scale(1.1);
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

figure .item1 img {
  width: 400px;
  height: 200px;
  border-radius: 3px;
  background-color: whitesmoke;
  /* padding: 3px 3px 3px 3px; */
}

.item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  /* background-color: lightgreen; */
}

figure .item2 img {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  /* background-color: whitesmoke;
  padding: 6px 6px 6px 6px; */
}

.item-9 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.item-9 img {
  width: 200px;
  height: 600px;
  border-radius: 3px;
  /* background-color: whitesmoke; */
  /* padding: 8px 8px 8px 8px; */
}

.item4 {
  grid-column: 1 /1;
  /* Spans two columns */
  grid-row: 2 / 2;
  /* Occupies the second row */
  /* background-color: rgb(250, 210, 216); */
}

figure .item4 img {
  width: 400px;
  height: 200px;
  border-radius: 3px;
  /* background-color: whitesmoke;
  padding: 8px 8px 8px 8px; */
}

.item5 {
  grid-column: 3/ 2;
  /* Occupies the second column */
  grid-row: 2 / 2;
  /* Occupies the third row */
  /* background-color:red; */
}

figure .item5 img {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  /* background-color: whitesmoke;
  padding: 8px 8px 8px 8px; */
}

@media (max-width: 800px) {
  .grid-item {
    display: grid;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 1px;
    overflow: hidden;
    cursor: pointer;
  }

  .figure.item1 img {
    width: 200px;
    height: 100px;
  }

  .item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* background-color: lightgreen; */
  }

  .figure.item2 img {
    width: 100px;
    height: 100px;
  }

  .item3 {
    grid-column: 3 / 4;
    /* Occupies the third column */
    grid-row: 1 / 3;
    /* Spans two rows */
    /* background-color: lightcoral; */
  }

  .figure .item3 img {
    width: 100px;
    height: 200px;
  }

  .item4 {
    grid-column: 1 /1;
    /* Spans two columns */
    grid-row: 2 / 2;
    /* Occupies the second row */
    /* background-color: rgb(250, 210, 216); */
  }

  .figure .item4 img {
    width: 200px;
    height: 100px;
  }

  .item5 {
    grid-column: 3/ 2;
    /* Occupies the second column */
    grid-row: 2 / 2;
    /* Occupies the third row */
    /* background-color:red; */
  }

  .figure.item5 img {
    width: 100px;
    height: 100px;
  }

  .grid-item img:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    transform: scale(1.1);
  }
}

.pop-image {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.pop-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 43px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.pop-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #e1d6d6;
  border-radius: 5px;
  width: 650px;
  height: 410px;
  object-fit: cover;
}

@media (max-width: 590px) {

  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:none/; */
    width: 100%;
    height: 100%;
  
  }
}


/* footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  /* align-items: center; */
  /* padding-top: 20px; */
  flex-wrap: wrap;
  text-align: center;
  color: #064e3b;
  gap: 20px;
  /* background-color:aqua; */
  padding: 70px 0px;
}

.day {
  display: flex;
  color: #047857;
}

.victor p {
  color: #064e3b;
  margin-top: 20px;
  font-size: 14px;
  padding-top: 16px;
  font-family: "Open Sans", sans-serif;

}


.prof,
p {
  font-size: 16px;
  color: #064e3b;
  font-family: "Open Sans", sans-serif;

}

.input {
  margin-top: 50px;
  border: none;
}

.line2 {
  width: 165px;
  height: 0px;
  top: 2520px;
  left: 1039px;
  border: 1.5px 0px 0px 0px;
  border: 1.5px solid #064e3b;
}